

.profile-info {
	border-left: 3px solid #f7f9fc;
}

@media screen and (max-width: 1200px){
	
}

@media screen and (max-width: 768px){
	.profile-blank {
		width: 100000px;
		height: 50px;
		border: none;
	}
	.profile-info {
		margin-top: 50px;
		border: none;
	}
}