.d-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.landing-part {
	background: linear-gradient(#5d95d6, #5260ba);
	padding-top: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.land-text {
	color: white;
	flex-grow: 1;
}

.land-text-box {
	max-width: 450px;
}

.btn-part {
	text-align: center;
	margin-top: 50px;
}

.land-btn {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: white;
	background-color: darkslategrey;
	border-radius: 5px;
	border-width: 0;
	cursor: pointer;
}
.land-btn:hover {
	background-color: lightpink;
	font-weight: bold;
	color: black;
	box-shadow: 0 0 3px 2px lightgrey;
}

.icon-part {
	background-color: #5260ba;
	margin-top: 50px;
	padding: 40px;
	text-align: center;
	color: white;
}

.icon-box {
	color: white;
	text-align: center;
	margin: 15px;
}

.icon-circle {
	color: #5260ba;
	background-color: white;
	width: 80px;
	height: 80px;
	font-size: 40px;
	border-radius: 50px;
	padding-top: 20px;
	box-sizing: border-box;
	margin: auto;
}

.sub-title {
	margin: 0;
	margin-bottom: 5px;
	font-size: small;
}

.img-part {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.portfolio-box {
	position: relative;
	width: 50%;
	color: white;
	text-align: left;
}

.portfolio-box img {
	filter: brightness(70%);
	width: 100%;
	position: relative;
	z-index: -1;
}

.portfolio-text {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 30px;
	padding-top: 20px;
	width: 70%;
}

.portfolio-img {
	width: 100%;
	box-shadow: 0 0 0 10px #000 inset;
}

.portfolio-img:hover {
	box-shadow: 0 0 0 10px #000 inset;
}

.haha {
	position: relative;
	background-image: url("img1.jpeg");
	background-size: 100%;
	width: 100%;
}

.haha:hover {
	border: 10px solid black;
}

.bottom-icon-circle {
	background-color: #5260ba;
	color: white;
	width: 60px;
	height: 60px;
	font-size: 25px;
	border-radius: 50px;
	padding-top: 18.5px;
	padding-left: 18.5px;
	box-sizing: border-box;
	margin: 15px;
}

@media screen and (max-width: 1200px){
	
}

@media screen and (max-width: 768px){
	.land-text-box {
		text-align: center;
		margin: auto;
	}
}