.d-flex {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.sm-img {
	width: 50px;
	height: 400px;
	background-size: auto 100%;
	background-position: center;
	border-radius: 10px;
	margin: 5px;
	flex: 0 0 auto;
}

.bg-img {
	width: 70%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.bg-img p {
	display: inline-block;
}

p {
	display: none;
	position: absolute;
	bottom: 0;
	margin: 15px;
	font-family: 'Times New Roman', Times, serif;
}